//********** COLORS
$bttn-color: #1E8BC3;
$background-alt: #ECF0F1;
$flat-orange: #f7941d;

//********** FONTS
$logofont: 'abel';
$sloganfont: 'Nothing You Could Do';
$paragraph-font: 'Lato';
$blueback: #1e8bc3;